--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Categories; Type: TABLE; Schema: public; Owner: stockflowuser
--

CREATE TABLE public."Categories" (
    "CategoryId" integer NOT NULL,
    "CategoryName" character varying(50) NOT NULL
);


ALTER TABLE public."Categories" OWNER TO stockflowuser;

--
-- Name: Categories_CategoryId_seq; Type: SEQUENCE; Schema: public; Owner: stockflowuser
--

ALTER TABLE public."Categories" ALTER COLUMN "CategoryId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Categories_CategoryId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Customers; Type: TABLE; Schema: public; Owner: stockflowuser
--

CREATE TABLE public."Customers" (
    "CustomerId" integer NOT NULL,
    "City" character varying(100) NOT NULL
);


ALTER TABLE public."Customers" OWNER TO stockflowuser;

--
-- Name: Customers_CustomerId_seq; Type: SEQUENCE; Schema: public; Owner: stockflowuser
--

ALTER TABLE public."Customers" ALTER COLUMN "CustomerId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Customers_CustomerId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: OrderItems; Type: TABLE; Schema: public; Owner: stockflowuser
--

CREATE TABLE public."OrderItems" (
    "OrderItemId" integer NOT NULL,
    "OrderId" integer NOT NULL,
    "ProductId" integer NOT NULL,
    "Quantity" integer NOT NULL
);


ALTER TABLE public."OrderItems" OWNER TO stockflowuser;

--
-- Name: OrderItems_OrderItemId_seq; Type: SEQUENCE; Schema: public; Owner: stockflowuser
--

ALTER TABLE public."OrderItems" ALTER COLUMN "OrderItemId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."OrderItems_OrderItemId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Orders; Type: TABLE; Schema: public; Owner: stockflowuser
--

CREATE TABLE public."Orders" (
    "OrderId" integer NOT NULL,
    "CustomerId" integer NOT NULL,
    "OrderDate" date NOT NULL,
    "PaymentMethod" character varying(50) NOT NULL,
    "OrderStatus" integer NOT NULL
);


ALTER TABLE public."Orders" OWNER TO stockflowuser;

--
-- Name: Orders_OrderId_seq; Type: SEQUENCE; Schema: public; Owner: stockflowuser
--

ALTER TABLE public."Orders" ALTER COLUMN "OrderId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Orders_OrderId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Products; Type: TABLE; Schema: public; Owner: stockflowuser
--

CREATE TABLE public."Products" (
    "ProductId" integer NOT NULL,
    "ProductName" character varying(100) NOT NULL,
    "Price" numeric(10,2) NOT NULL,
    "CategoryId" integer NOT NULL
);


ALTER TABLE public."Products" OWNER TO stockflowuser;

--
-- Name: Products_ProductId_seq; Type: SEQUENCE; Schema: public; Owner: stockflowuser
--

ALTER TABLE public."Products" ALTER COLUMN "ProductId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Products_ProductId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: Categories; Type: TABLE DATA; Schema: public; Owner: stockflowuser
--

COPY public."Categories" ("CategoryId", "CategoryName") FROM stdin;
10	Electronics
20	Fashion
30	Home & Living
40	Books & Stationery
50	Sports & Outdoors
\.


--
-- Data for Name: Customers; Type: TABLE DATA; Schema: public; Owner: stockflowuser
--



--
-- Data for Name: OrderItems; Type: TABLE DATA; Schema: public; Owner: stockflowuser
--



--
-- Data for Name: Orders; Type: TABLE DATA; Schema: public; Owner: stockflowuser
--



--
-- Data for Name: Products; Type: TABLE DATA; Schema: public; Owner: stockflowuser
--



--
-- Name: Categories_CategoryId_seq; Type: SEQUENCE SET; Schema: public; Owner: stockflowuser
--

SELECT pg_catalog.setval('public."Categories_CategoryId_seq"', 1, false);


--
-- Name: Customers_CustomerId_seq; Type: SEQUENCE SET; Schema: public; Owner: stockflowuser
--

SELECT pg_catalog.setval('public."Customers_CustomerId_seq"', 1, false);


--
-- Name: OrderItems_OrderItemId_seq; Type: SEQUENCE SET; Schema: public; Owner: stockflowuser
--

SELECT pg_catalog.setval('public."OrderItems_OrderItemId_seq"', 1000, true);


--
-- Name: Orders_OrderId_seq; Type: SEQUENCE SET; Schema: public; Owner: stockflowuser
--

SELECT pg_catalog.setval('public."Orders_OrderId_seq"', 1000, true);


--
-- Name: Products_ProductId_seq; Type: SEQUENCE SET; Schema: public; Owner: stockflowuser
--

SELECT pg_catalog.setval('public."Products_ProductId_seq"', 605, true);


--
-- Name: Categories PK_Categories; Type: CONSTRAINT; Schema: public; Owner: stockflowuser
--

ALTER TABLE ONLY public."Categories"
    ADD CONSTRAINT "PK_Categories" PRIMARY KEY ("CategoryId");


--
-- Name: Customers PK_Customers; Type: CONSTRAINT; Schema: public; Owner: stockflowuser
--

ALTER TABLE ONLY public."Customers"
    ADD CONSTRAINT "PK_Customers" PRIMARY KEY ("CustomerId");


--
-- Name: OrderItems PK_OrderItems; Type: CONSTRAINT; Schema: public; Owner: stockflowuser
--

ALTER TABLE ONLY public."OrderItems"
    ADD CONSTRAINT "PK_OrderItems" PRIMARY KEY ("OrderItemId");


--
-- Name: Orders PK_Orders; Type: CONSTRAINT; Schema: public; Owner: stockflowuser
--

ALTER TABLE ONLY public."Orders"
    ADD CONSTRAINT "PK_Orders" PRIMARY KEY ("OrderId");


--
-- Name: Products PK_Products; Type: CONSTRAINT; Schema: public; Owner: stockflowuser
--

ALTER TABLE ONLY public."Products"
    ADD CONSTRAINT "PK_Products" PRIMARY KEY ("ProductId");


--
-- Name: IX_OrderItems_OrderId; Type: INDEX; Schema: public; Owner: stockflowuser
--

CREATE INDEX "IX_OrderItems_OrderId" ON public."OrderItems" USING btree ("OrderId");


--
-- Name: IX_OrderItems_ProductId; Type: INDEX; Schema: public; Owner: stockflowuser
--

CREATE INDEX "IX_OrderItems_ProductId" ON public."OrderItems" USING btree ("ProductId");


--
-- Name: IX_Orders_CustomerId; Type: INDEX; Schema: public; Owner: stockflowuser
--

CREATE INDEX "IX_Orders_CustomerId" ON public."Orders" USING btree ("CustomerId");


--
-- Name: IX_Products_CategoryId; Type: INDEX; Schema: public; Owner: stockflowuser
--

CREATE INDEX "IX_Products_CategoryId" ON public."Products" USING btree ("CategoryId");


--
-- Name: OrderItems FK_OrderItems_Orders_OrderId; Type: FK CONSTRAINT; Schema: public; Owner: stockflowuser
--

ALTER TABLE ONLY public."OrderItems"
    ADD CONSTRAINT "FK_OrderItems_Orders_OrderId" FOREIGN KEY ("OrderId") REFERENCES public."Orders"("OrderId") ON DELETE CASCADE;


--
-- Name: OrderItems FK_OrderItems_Products_ProductId; Type: FK CONSTRAINT; Schema: public; Owner: stockflowuser
--

ALTER TABLE ONLY public."OrderItems"
    ADD CONSTRAINT "FK_OrderItems_Products_ProductId" FOREIGN KEY ("ProductId") REFERENCES public."Products"("ProductId") ON DELETE RESTRICT;


--
-- Name: Orders FK_Orders_Customers_CustomerId; Type: FK CONSTRAINT; Schema: public; Owner: stockflowuser
--

ALTER TABLE ONLY public."Orders"
    ADD CONSTRAINT "FK_Orders_Customers_CustomerId" FOREIGN KEY ("CustomerId") REFERENCES public."Customers"("CustomerId") ON DELETE RESTRICT;


--
-- Name: Products FK_Products_Categories_CategoryId; Type: FK CONSTRAINT; Schema: public; Owner: stockflowuser
--

ALTER TABLE ONLY public."Products"
    ADD CONSTRAINT "FK_Products_Categories_CategoryId" FOREIGN KEY ("CategoryId") REFERENCES public."Categories"("CategoryId") ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

